@use "abstracts" as *;
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-body-bg);
  font-family: "Plus Jakarta Sans", sans-serif;
  @include flex(initial, center, center, 0);
}

:root {
  --clr-red: hsl(1, 90%, 64%);
  --clr-blue: hsl(219, 85%, 26%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-body-bg: hsl(210, 60%, 98%);
  --clr-dark-blue: hsl(224, 21%, 14%);
  --clr-dark-greyish-blue: hsl(219, 12%, 42%);
  --clr-light-greyish-blue-1: hsl(211, 68%, 94%);
  // --clr-nofication-bg: ;
}
